<footer>
  <p>&copy; 2024 Tarracommerce. Todos los derechos reservados.</p>
  <div class="footer-icons">
    <span class="footer-icon">
      <img src="IMG/instagram.svg" alt="Instagram" />
      <content class="social-links">
        <a href="https://www.instagram.com/ale_roji/" target="_blank"
          >Alejandro RJ</a
        >
        <a href="https://www.instagram.com/melkart_tiro" target="_blank"
          >Jessica N</a
        >
        <a href="https://www.instagram.com/santis079" target="_blank"
          >Santos R</a
        >
      </content>
    </span>
    <span class="footer-icon">
      <img src="IMG/linkedin.svg" alt="LinkedIn" />
      <content class="social-links">
        <a
          href="https://www.linkedin.com/in/alejandro-rodríguez-jiménez-664559228"
          target="_blank"
          >Alejandro RJ</a
        >
        <a
          href="https://www.linkedin.com/in/jessica-najem-sadi-414896184/"
          target="_blank"
          >Jessica N</a
        >
        <a
          href="https://www.linkedin.com/in/santos-rivera-camacho-1b1562a7/"
          target="_blank"
          >Santos R</a
        >
      </content>
    </span>
    <span class="footer-icon">
      <img src="IMG/github.svg" alt="GitHub" />
      <content class="social-links">
        <a href="https://github.com/AlejandroRJ013" target="_blank"
          >Alejandro RJ</a
        >
        <a href="https://github.com/Kokushibou97" target="_blank">Jessica N</a>
        <a href="https://github.com/Santis079" target="_blank">Santos R</a>
      </content>
    </span>
  </div>
</footer>
