<div class="infoEmpresas">
  <div class="nombreLogo">
    <h1>TarraCommerce</h1>
    <img
      class="logos"
      src="IMG/logoTarracommerce.png"
      alt="Logo empresa TarraCommerce"
    />
  </div>
  <p>
    TarracoCommerce es una innovadora plataforma web
    <strong
      >dedicada a fomentar y apoyar los negocios locales de Tarragona.</strong
    >
    Nuestro objetivo es proporcionar una solución integral para que las tiendas
    y empresas locales puedan vender sus productos en línea de manera eficiente
    y efectiva.
  </p>
  <p>
    Ofrecemos una amplia variedad de productos de distintos sectores, incluyendo
    artesanías, moda, accesorios móviles, calzado, mascotas, juguetes,
    panadería, salud y belleza. Nuestra plataforma está diseñada para ser
    intuitiva y fácil de usar,
    <q>tanto para los vendedores como para los compradores</q>.
  </p>
  <p>
    Nuestra misión es <strong>potenciar el comercio local</strong> de Tarragona,
    ayudando a las pequeñas y medianas empresas a alcanzar un público más amplio
    a través de la venta en línea. Creemos firmemente en la importancia de
    apoyar a la comunidad local y estamos comprometidos en proporcionar una
    plataforma que facilite el crecimiento y el éxito de los negocios locales.
  </p>
  <p>
    En TarracoCommerce, nos enfocamos en ofrecer una experiencia de usuario
    superior, asegurándonos de que cada compra sea sencilla, segura y
    satisfactoria. Colaboramos estrechamente con los negocios para entender sus
    necesidades y adaptar nuestra plataforma a sus requisitos específicos,
    garantizando que puedan maximizar sus ventas y expandir su presencia en el
    mercado digital.
  </p>
</div>

<div id="fotoGrupo" class="dorado negroNoTanNegro">
  <h1>¡Estos somos nosotros!</h1>
  <div>
    <img
      class="grupo"
      src="IMG/nosotros.png"
      height="300px"
      alt="Foto del grupo de trabajo"
    />
    <p>
      <!-- cAMBIAR STROINBG  -->
      <strong>
        Somos tres programadores apasionados y dedicados, comprometidos a
        ofrecer lo mejor de nuestras habilidades para crear soluciones
        tecnológicas excepcionales. Nos enorgullecemos de nuestra integridad,
        innovación y colaboración, valores que guían cada proyecto que
        emprendemos. Cada miembro de nuestro equipo aporta una combinación única
        de conocimientos y experiencia, permitiéndonos abordar proyectos de
        diversa índole con creatividad y eficiencia. Creemos en el poder de la
        colaboración y en el impacto positivo que la tecnología puede tener en
        los negocios y en la vida de las personas. Con un enfoque en la
        excelencia y un servicio personalizado, estamos aquí para ayudarle a
        llevar su proyecto al siguiente nivel con innovación y calidad.</strong
      >
    </p>
  </div>
</div>

<div class="infoEmpresas">
  <div class="nombreLogo">
    <h1>Jazs Devs</h1>
    <img
      class="logos"
      src="IMG/logoJazsDevs.png"
      alt="Logo empresa Jazs Devs"
    />
  </div>
  <p>
    Jazs Devs es una empresa conformada por tres talentosos programadores
    FullStack especializados en la creación dinámica de páginas web,
    aplicaciones de Java y bases de datos. Nuestro equipo maneja con destreza
    una amplia gama de tecnologías, incluyendo
    <strong>Angular, JavaScript, CSS, HTML, Java</strong> y
    <strong>MySQL</strong>, entre otras. Nos dedicamos a ofrecer soluciones
    tecnológicas innovadoras y de alta calidad, adaptadas a las necesidades
    específicas de nuestros clientes.
  </p>
  <p>
    Nuestra misión es ayudar a las empresas a destacarse en el entorno digital
    mediante el desarrollo de plataformas robustas y escalables que faciliten la
    interacción con sus usuarios. Con un enfoque meticuloso en la funcionalidad
    y la experiencia del usuario, garantizamos que cada proyecto que emprendemos
    cumpla con los más altos estándares de eficiencia y usabilidad.
  </p>
  <p>
    En Jazs Devs, creemos en la importancia de la colaboración y el
    entendimiento profundo de los objetivos de nuestros clientes. Por ello,
    trabajamos estrechamente con ellos desde la fase inicial de planificación
    hasta la implementación y el mantenimiento, asegurando que cada aspecto del
    proyecto refleje su visión y satisfaga sus necesidades comerciales.
  </p>
</div>
